{% extends "base.html" %}

{% block announce %}
<p style="text-align: center">⭐ New: Get
  supporter <a href="https://discord.com/application-directory/356268235697553409/premium">directly through
    Discord!</a></p>
{% endblock %}

{% block analytics %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-2NVJXMTT2N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-2NVJXMTT2N');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5817610257612647"
  crossorigin="anonymous"></script>

{% endblock %}