{% extends "base.html" %}

{% block announce %}
  <p style="text-align: center">To celebrate 100k registered users we're hosting a giveaway on our server! <a href="https://discord.gg/JaHj26hHGk">Click here</a> to join.</p>
{% endblock %}

{% block analytics %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-2NVJXMTT2N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2NVJXMTT2N');
</script>

{% endblock %}