[data-md-color-scheme="default"] {
  --md-code-bg-color: #d9e4f7;
}

[data-md-color-scheme="slate"] {
  --md-code-bg-color: hsla(var(--md-hue),35%,20%,1);
}


h1 {
    margin: 0 0 0.8em !important;
}

h3 {
    margin: 0.8em 0 .8em !important;
    font-size: 1.5em !important;
}

p {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

ul {
    margin-top: 0 !important;
}

code {
    font-size: 0.98em !important;
}

.note p {
    margin-block-start: 0.6em;
    margin-block-end: 0.3em;
}

.md-typeset__table {
    width: 100%;
}

table {
    width: 100%;
    display: table !important;
}

.divider {
    top: 20px;
    position: relative;
    margin: 0 !important;
}

.purchase-option {
    text-align: center;
    font-size: 0.9em !important;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
}

.getsupporter-button-discord {
    width: 100% !important;
    display: block !important;
    margin-block-end: 1em;
}

.getsupporter-button h4 {
    margin-top: 0.66em;
    margin-bottom: 0 !important;
}

.getsupporter-button h3 {
    margin-top: 0 !important;
    font-size: 1.15em !important;
    margin-bottom: 0.5em !important;
}

.getsupporter-button {
    width: 48.9%;
    display: inline-block;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.getsupporter-text {
    display: inline-block;
    width: 1%;
}

.quote {
    font-size: 0.8em !important;
    border: .05rem solid var(--md-typeset-table-color) !important;
}

@media screen and (max-width: 40em) {
    .getsupporter-button {
        width: 100%;
        display: block;
    }

    .getsupporter-text {
        display: block;
    }
}

.new {
    color: #f32c62;
    font-weight: 700;
}

/*
    Hack to get around details having IDs
    Adding:
    ###### "How do I get started"? { #how-do-i-get-started }
    into the top of an info block lets us generate TOC and jump to that section when linked
*/

details.info > h6 {
    visibility: hidden;
    height: 0 !important;
    margin-top: -1em !important;
}