name: Build documentation

on:
  push:
    branches: [master]

jobs:
  build:
    permissions:
      id-token: write
      pages: write
    name: Build and deploy documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - name: Install project
        run: |
          uv sync --locked --all-extras --dev

      - name: Build documentation
        run: uv run zensical build --clean

      - name: Upload documentation
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy
        uses: actions/deploy-pages@v4
        id: deployment