name: Build Documentation using MkDocs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:

jobs:
  build:
    permissions:
      id-token: write
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - name: Install project
        run: |
          uv sync --frozen --all-extras --dev

      - name: Build documentation
        run: uv run zensical build --clean

      - name: Upload documentation
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy
        uses: actions/deploy-pages@v4
        id: deployment